* {
    margin: 0px;
    padding: 0px;
}
/* body{
    background-color: rgb(83, 208, 212);
} */

.navbar{
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 100px;
    height: 70px;
    margin-left: 40px;
    margin-top: 10px
}

.brand_name {
    position: absolute;
    top: 30px;
    left: 85px;
}

.navbar ul {
    float: right;
}

.navbar div {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    margin-right: 40px;
    margin-top: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: navfonts;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: rgb(83, 208, 212);
    letter-spacing: 5px;
    transition-duration: .8s;
}

.cart_noti {
    position: relative;
    top: -20px;
    left: -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50px;
}

@font-face {
    font-family: navfont;
    src: url(../fonts/Lora-BoldItalic.ttf);
}

@font-face {
    font-family: navfonts;
    src: url(../fonts/AbrilFatface-Regular.ttf);
}

.fonts p {
    font-family: navfont;
    font-size: 25px;
}

/* blog */

.blog {
    margin-left: 300px;
    margin-right: 300px;
}

.blog hr {
    width: 100px;
    height: 5px;
    background-color: rgb(5, 92, 99);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.blog h1 {
    color: rgb(5, 92, 99);
    text-transform: capitalize;
    text-align: center;
    font-weight: bolder;
    font-family: navfonts;
}

.blog .art_img1, .blog .art_img2 {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgb(0 , 0 , 0 , .20);
}

.blog .art_img {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    grid-column-gap: 20px;
}

.blog h2 {
    color: rgb(5, 92, 99);
    font-family: navfont;
}

.bloglist img {
    width: 405px;
    height: 300px;
    border-radius: 3px;
    cursor: pointer;
}

.bloglist {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}

.bloglist div {
    box-shadow: 0px 10px 20px rgb(0 , 0 , 0 , .20);
    border-radius: 5px;
    cursor: pointer;
}

.bloglist h3, .bloglist p {
    margin-left: 20px;
}

.bloglist span {
    color: darkturquoise;
}

.pagelist {
    text-align: center;
    word-spacing: 5px;
}

.pagelist .span {
    color: orangered;
}

.pagelist span:hover {
    color: darkturquoise;
    cursor: pointer;
}


/* service */

.service {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: darkgrey;
    margin-top: 50px;
    padding-left: 40px;
}

.service_icon p {
    display: inline-block;
    margin-left: 25px;
}

.service_icon p span {
    font-weight: bold;
    font-size: 25px;
}

.service_icon {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 80px;
}

/* footer */

.footer {
    background-color: black;
    color: gray;
    width: 100%;
    height: 200px;
}

.center .footer_nav {
    color: gray;
    display: inline-block;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
} 

.center p {
    margin-bottom: 20px;
}

.center .icon {
    margin: 20px 10px;
    color: gray;
}