/* Template by freewebsitetemplates.com */

body {
	/* background: #c30075;
	font-family: Arial, Helvetica, sans-serif; */
	margin: 0;
	padding: 0;	
}
.navbar{
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 100px;
    height: 70px;
    margin-left: 40px;
    margin-top: 10px
}

.brand_name {
    position: absolute;
    top: 5px;
    left: 85px;
}

.navbar ul {
    float: right;
}

.navbar div {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    margin-right: 40px;
    margin-top: 14px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: navfonts;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: rgb(83, 208, 212);
    letter-spacing: 5px;
    transition-duration: .8s;
}

.cart_noti {
    position: relative;
    top: -20px;
    left: -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50px;
}

@font-face {
    font-family: navfont;
    src: url(../fonts/Lora-BoldItalic.ttf);
}

@font-face {
    font-family: navfonts;
    src: url(../fonts/AbrilFatface-Regular.ttf);
}

.fonts p {
    font-family: navfont;
    font-size: 25px;
}

#body {
	/* background: #fefef6 url(../images/bg-content.gif) repeat-x top left; */
	margin-left: 300px;
	margin-right: 300px;
	padding: 0;
}	

#body .contact ul li {
	color: rgb(5, 92, 99);
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 8px 0 0;	
}
#body .contact ul li span {
	background: url(../images/colon.gif) no-repeat center right;
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 0;
	width: 80px;
}
#body .contact div h4 {
	color: rgb(5, 92, 99);
	font-size: 14px;
	margin: 0;
	padding: 30px 0 0;
	text-transform: uppercase;	
}

#body h1 {
	font-weight: bolder;
	text-align: center;
	color: rgb(5, 92, 99);
	font-family: navfonts;
} 
 
#body .p {
	text-align: center;
	color: rgb(5, 92, 99);
	font-family: navfonts;
}

.contact_grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.contact_grid p {
    padding: 15px;
}

.contact_grid button {
    margin-top: 30px;
    padding: 7px;
    border-radius: 15px;
}

.contact_grid p {
    font-weight: bold;
    color: rgb(148, 148, 148);
}

.div_1 button {
    color: aqua;
    background-color: white;
    border: 1px solid aqua;
}

.div_1 button:hover {
    color: white;
    background-color: aqua;
    cursor: pointer;
}

.div_2 button {
    color: rgb(5, 92, 99);
    background-color: white;
    border: 1px solid rgb(5, 92, 99);
}

.div_2 button:hover{
    color: white;
    background-color: rgb(5, 92, 99);
    cursor: pointer;
}

.div_3 button {
    color: rgb(22, 204, 165);
    background-color: white;
    border: 1px solid rgb(22, 204, 165);
}

.div_3 button:hover {
    color: white;
    background-color: rgb(22, 204, 165);
    cursor: pointer;
}

.div_1, .div_3 {
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0 , 0 , 0 , .20);
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 300px;
}

.div_2 {
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0 , 0 , 0 , .20);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -25px;
    width: 280px;
    height: 350px;
}

.hr_2 {
    width: 280px;
    height: 7px;
    background-color: rgb(5, 92, 99);
    color: rgb(5, 92, 99);
    margin-top: 0px;
    border: none;
    border-radius: 5px 5px 0px 0px;
}

.hr_1 {
    width: 250px;
    height: 7px;
    background-color: aqua;
    color: aqua;
    margin-top: 0px;
    border: none;
    border-radius: 5px 5px 0px 0px;
}

.hr_3 {
    width: 250px;
    height: 7px;
    background-color: rgb(22, 204, 165);
    color: rgb(22, 204, 165);
    margin-top: 0px;
    border: none;
    border-radius: 5px 5px 0px 0px;
}

.div_1, .div_2, .div_3 {
    text-align: center;
}

.contact_d {
    text-align: center;
}

.contact_s {
    position: absolute;
    left: 80px;
    bottom: 220px;
}

.float_1 {
    position: absolute;
    bottom: 25px;
}

.float {
    float: right;
}

.clear_float {
    clear: both;
}

/* service */

.service {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: darkgrey;
    margin-top: 50px;
    padding-left: 40px;
}

.service_icon p {
    display: inline-block;
    margin-left: 25px;
}

.service_icon p span {
    font-weight: bold;
    font-size: 25px;
}

.service_icon {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 80px;
}

/* footer */

.footer {
    background-color: black;
    color: gray;
    width: 100%;
    height: 200px;
}

.center .footer_nav {
    color: gray;
    display: inline-block;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-decoration: none;
} 

.center p {
    margin-bottom: 20px;
}

.center .icon {
    margin: 20px 10px;
    color: gray;
}