@font-face {
    font-family: header_font;
    src: url(header_fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: h3font;
    src: url(otherfonts/Niconne-Regular.ttf);
}
@font-face {
    font-family: other;
    src: url(otherfonts/StardosStencil-Regular.ttf);
}

#body {
    margin: 0%;
    padding: 0%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgrey;
    background-color: #FAFAFA;
    opacity: 0.9;
    height: 100px;
}
.menu {
    display: none;
}
.header a {
    display: inline-block;
    text-decoration: none;
}
h1{
    font-family: header_font;
    font-size: 70px;
    font-weight: bold;
    color: #952560;
    margin-left: auto;
}
h3 {
    font-family: h3font;
    font-size: 30px;
    margin-left: auto;
    color: #952560;
}
.pvDiv a {
    font-family: other;
    color: #952560;
    font-size: 20px;
    font-weight: bold;
}
.pvDiv a:hover {
    color: #550c33;
    letter-spacing: 2px;
    transition: 2s;
}
.header img {
    height: 100px;
    width: 100px;
}
.pvDiv{
    width: 15%;
}

.body_img img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0 auto;
  }

.column {
    flex: 24.5%;
    max-width: 24.5%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
  }
  

@media (max-width: 900px){
    .pvDiv {
        display: none;
    }
    .menu {
        display: block;
        color: #952560;
    }
    .column {
        flex: 33%;
        max-width: 33%;
        padding: 0 4px;
      }
}
@media (max-width: 750px){
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 15px;
    }
    .header img {
        width: 70px;
        height: 70px;
    }
    .column {
        flex: 49.5%;
        max-width: 29.5%;
        padding: 0 4px;
      }
}
@media (max-width: 450px) {
    h1{
        font-size: 25px;
    }
    h3{
        font-size: 10px;
    }
    .header img {
        width: 50px;
        height: 50px;
    }
    .column {
        flex: 99.5%;
        max-width: 99.5%;
        padding: 0 4px;
      }
}


.footer {
    background-color: #952560;
    width: 100%;
    height: 150px;
}
.footer_div {
    display: inline-block;
    margin-top: 15px;
}

.footer p {
    font-family: other;
}
.footer a {
    color: black;
}